:root{
  --Cor-Rose: #EE9E97;
  --Cor-Aqua: #8DB4AB;
  --Cor-Verde: #026D81;
  --Cor-Nude: #F5D0C0;
  --Cor-Amarelo: #F8B042;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}